# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# Data files (raw data might be large)
*.tif
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.qpj
data/raw/

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

